{
    "sqltools.connections": [
        {
            "ssh": "Disabled",
            "previewLimit": 50,
            "server": "localhost",
            "port": 5432,
            "driver": "PostgreSQL",
            "name": "HelpDesk",
            "username": "postgres",
            "database": "helpdesk",
            "askForPassword": true
        },
        {
            "ssh": "Disabled",
            "previewLimit": 50,
            "server": "localhost",
            "port": 5432,
            "driver": "PostgreSQL",
            "name": "HelpDesk Test",
            "database": "helpdesk_test",
            "username": "postgres",
            "askForPassword": true
        }
    ]
}
